<div>
  <h1>{{name}}</h1>
</div>
<div id="gallery">
  Simple Web site with 4 subpages:
  <ul>
    <li><a href="/test/small">Small Image</a></li>
    <li><a href="/test/medium">Medium Image</a></li>
    <li><a href="/test/large">Large Image</a></li>
    <li><a href="/test/xlarge">X-Large Image</a></li>
  </ul>
</div>